---
- name: install czertaninly
  tags: czertainly

  block:
  - name: create namespace CZERTAINLY
    kubernetes.core.k8s:
      namespace: default
      wait: true
      state: present
      src: namespace-czertainly.yaml
    tags:
      - czertainly_namespace

  # components that are not publicaly available / Harbor Credentials are required
  #   * MS ADCS
  #   * Utils Service
  - name: verify harbor credentials are defined
    ansible.builtin.assert:
      that:
        - docker.username is defined
        - docker.password is defined
      fail_msg: "Credentials for private docker repository is required when installing MS ADCS or Utils Service."
    when: czertainly.utilsService or czertainly.keycloak

  # in case invalid credentials this fails
  - name: verify harbor credentials
    ansible.builtin.uri:
      url: 'https://harbor.3key.company/api/v2.0/users/current'
      user: "{{ docker.username }}"
      password: "{{ docker.password }}"
      method: GET
      force_basic_auth: true
      headers:
        accept: application/json
    when: (docker.username is defined) and (docker.password is defined)
    register: result
    tags:
      - czertainly_secret

  # this will always overwrite target file and we are ignoring change
  - name: create secret for harbor
    ansible.builtin.shell:
      cmd: /var/lib/rancher/rke2/bin/kubectl create secret -n czertainly docker-registry {{ docker.secret }} --docker-server={{ docker.server }} --docker-username={{ docker.username }} --docker-password={{ docker.password }} --docker-email={{ docker.email }} --dry-run='client' -o yaml > /root/install/docker-secret.yaml
    changed_when: false
    when: (docker.username is defined) and (docker.password is defined)
    tags:
      - czertainly_secret

  # this apply only when changed - there must be more elegant way, but
  # problem with dockerconfigjson is that thre is 2 times base64 encoded
  # password
  #
  - name: register secret for harbor
    kubernetes.core.k8s:
      namespace: czertainly
      state: present
      src: /root/install/docker-secret.yaml
    when: (docker.username is defined) and (docker.password is defined)
    tags:
      - czertainly_secret

  - name: create czertainly-ingress-tls
    template:
      src: "czertainly-ingress-tls.yaml"
      dest: "/root/install/czertainly-ingress-tls.yaml"
      owner: czertainly
      group: czertainly
      mode: '0644'
    when: (ingress is defined) and (ingress.certificate_file is defined) and (ingress.private_key_file is defined)
    tags:
      - czertainly_ingress_tls

  - name: register czertainly-ingress-tls
    kubernetes.core.k8s:
      namespace: czertainly
      state: present
      src: "/root/install/czertainly-ingress-tls.yaml"
    when: (ingress is defined) and (ingress.certificate_file is defined) and (ingress.private_key_file is defined)
    tags:
      - czertainly_ingress_tls

  - name: create schema for KeyCloak
    become: yes
    become_user: postgres
    community.postgresql.postgresql_schema:
      name: keycloak
      owner: "{{ postgres.username | default('czertainlyuser') }}"
      database: "{{ postgres.database | default('czertainlydb') }}"
    when:
      (czertainly.keycloak is defined) and czertainly.keycloak
    tags:
      - czertainly_keycloak_schema

  - name: download default values.yaml file
    shell: helm show values --version "{{ czertainly.version }}" oci://harbor.3key.company/czertainly-helm/czertainly  > /tmp/czertainly-values-default.yaml
    changed_when: false
    tags:
      - czertainly_values
      - czertainly_values_default

  - name: copy default czertainly-values.yaml file
    template:
      src: "/tmp/czertainly-values-default.yaml"
      dest: "/root/install/czertainly-values.yaml"
      owner: czertainly
      group: czertainly
      mode: '0644'
    tags:
      - czertainly_values
      - czertainly_values_default

  - name: load default values into memory
    ansible.builtin.slurp:
      src: /root/install/czertainly-values.yaml
    register: default_values

  - name: interpret default values as yaml
    ansible.builtin.set_fact:
      default_values: '{{ default_values.content | b64decode | from_yaml }}'

  - name: copy local customized czertainly-values.yaml file
    ansible.builtin.template:
      src: "czertainly-values.local.yaml"
      dest: "/root/install/czertainly-values.local.yaml"
    tags:
      - czertainly_values
      - czertainly_values_local

  - name: check for custom czertainly-values.custom.yaml
    ansible.builtin.stat:
      path: /home/czertainly/czertainly-values.custom.yaml
    register:
      custom_file
    tags:
      - czertainly_values

  - name: define value files for helm instalation
    ansible.builtin.set_fact:
      values_files:
        - '/root/install/czertainly-values.yaml'
        - '/root/install/czertainly-values.local.yaml'
        - "{{ custom_file.stat.path | default('/dev/null') }}"
    tags:
      - czertainly_values

  - name: wait a while
    shell:
      cmd: sleep 10
    tags:
      czertainly_sleep10

  - name: install czertainly
    kubernetes.core.helm:
      timeout: 20m
      release_namespace: czertainly
      release_name: czertainly-tlm
      chart_ref: oci://harbor.3key.company/czertainly-helm/czertainly
      chart_version: "{{ czertainly.version }}"
      wait: true
      values_files: "{{ values_files }}"
    tags:
      - czertainly_install
